body{
    background-color: beige;
}
h1{
    color: rgb(138, 118, 82);
    text-align: center;
    font-family: "Matemasie", sans-serif;
    font-weight: 400;
    font-size: 40px;
}
.padre{
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
}
.tarjeta{
    background-color:rgb(228, 205, 156);
    margin: 10px;
    width: 400px;
    text-align: center;
    color: rgb(75, 45, 45);
    border-radius: 15px;
    border: 1px solid black;
}
.tarjeta img{
    width: 350px;
    height: 250px;
}
.desp{
    color: rgb(75, 45, 45);
    font-family: "Unkempt", cursive;
    font-size: 20px;
}
.equipo{
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-size: 27px;
    color:  rgb(163, 134, 79);
}